@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-background: #141625;
    --dark-foreground: #0e0f18;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background: var(--dark-background);
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 50px;
    background: var(--dark-foreground);
    border: none;
    outline: none;
    font-size: 32px;
    border-radius: 10px;
    transition: 0.09s;
}

button:hover {
    transform:scale(1.05);
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.277);
    cursor: pointer;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 20px;
    min-width: 500px;
    min-height: 300px;
    padding: 30px;
    background: var(--dark-foreground);
    border-radius: 20px;
    margin-bottom: 50px;
}

.result-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-container > h1 {
    font-size: 52px;
}

.computer-choice {
    font-size: 24px;
}

.score-container {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.top-container,
footer {
    background: var(--dark-foreground);
    width: 100%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 24px;
    font-weight: 500;
}

.icon {
    width: 30px;
    height: 30px;
    transition: 0.09s;
}

.icon:hover {
    cursor: pointer;
    transform:scale(1.1);
}

footer {
    padding: 20px;
    text-align: center;
}